
/* include fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf);
}
/* Fonts */
.reg {
  font-family: 'OpenSans-Regular', sans-serif;
}
.light {
  font-family: 'OpenSans-Light', sans-serif;
}
/* color variable */
/* basic settings */
a {
  color: white;
}
a:hover {
  color: #d1d1d1;
}
body {
  overflow-x: hidden;
}
.form-btn {
  color: white;
  background-color: #3674ba;
  border: 1px solid #3674ba;
  padding: .5rem 2.8rem;
}
.form-btn:hover {
  background-color: #193657;
}
.line {
  background-color: #5f636c;
}
/* header */
.header {
  background-color: #5b6169;
}
.header-title {
  padding-top: .3rem;
  padding-left: 7rem;
}
.header-title h3 {
  font-family: 'OpenSans-Regular', sans-serif;
  text-transform: uppercase;
}
.header-nav {
  padding-top: 1rem;
}
/* baner */
.banner {
  font-family: 'OpenSans-Regular', sans-serif;
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
}
.banner-phone {
  position: relative;
  right: 380px;
}
.banner-info {
  padding-top: 9rem;
}
.banner-info h1 {
  color: white;
}
.banner-info p {
  color: #3674ba;
}
/* services */
.services-slider {
  padding-top: 2rem;
}
.services-slider-block {
  display: none;
  text-align: center;
}
.services-slider-block h3 {
  color: #3674ba;
  text-transform: uppercase;
  padding: 1rem 0;
}
.services-slider-block p {
  color: #6f6f6f;
  padding-bottom: 1rem;
}
.services-slider-block button {
  padding: .2rem 1.5rem;
}
.services-slider-img {
  margin: 0 auto;
}
.services {
  font-family: 'OpenSans-Regular', sans-serif;
  text-align: center;
}
.services-title {
  color: #5f636c;
  text-align: center;
  text-transform: uppercase;
}
.services-headings {
  padding-top: 2.5rem;
}
.services-headings h3 {
  color: #3674ba;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.services-headings p {
  color: #6f6f6f;
  padding-bottom: 1rem;
}
.services-headings button {
  padding: .2rem 1.5rem;
}
.about {
  font-family: 'OpenSans-Regular', sans-serif;
  padding-top: 4rem;
  margin-top: 2rem;
  background-color: #d1d1d1;
  text-align: center;
}
.about h3 {
  color: #5f636c;
}
.about p {
  color: #404349;
}
.about-title {
  color: #5f636c;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.about-task {
  text-align: left;
}
.about-map {
  overflow: hidden;
  padding-bottom: 56%;
  position: relative;
  height: 0;
}
.about-map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 70%;
  width: 100%;
}
.about-skills {
  text-align: left;
  text-transform: uppercase;
}
.about-skills h4 {
  color: #3674ba;
  padding-bottom: .5rem;
}
.about-skills p {
  color: white;
}
.about-skills-html {
  padding-top: .3rem;
  padding-left: .4rem;
  height: 35px;
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, #3674ba), color-stop(90%, #818181));
  background: linear-gradient(90deg, #3674ba 90%, #818181 90%);
}
.about-skills-html:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, #818181), color-stop(90%, #3674ba));
  background: linear-gradient(90deg, #818181 90%, #3674ba 90%);
}
.about-skills-css {
  padding-top: .3rem;
  padding-left: .4rem;
  height: 35px;
  background: -webkit-gradient(linear, left top, right top, color-stop(95%, #3674ba), color-stop(95%, #818181));
  background: linear-gradient(90deg, #3674ba 95%, #818181 95%);
}
.about-skills-css:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(95%, #818181), color-stop(95%, #3674ba));
  background: linear-gradient(90deg, #818181 95%, #3674ba 95%);
}
.about-skills-photoshop {
  padding-top: .3rem;
  padding-left: .4rem;
  height: 35px;
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #3674ba), color-stop(80%, #818181));
  background: linear-gradient(90deg, #3674ba 80%, #818181 80%);
}
.about-skills-photoshop:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #818181), color-stop(80%, #3674ba));
  background: linear-gradient(90deg, #818181 80%, #3674ba 80%);
}
.about-skills-mobile {
  padding-top: .3rem;
  padding-left: .4rem;
  height: 35px;
  background: -webkit-gradient(linear, left top, right top, color-stop(83%, #3674ba), color-stop(83%, #818181));
  background: linear-gradient(90deg, #3674ba 83%, #818181 83%);
}
.about-skills-mobile:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(83%, #818181), color-stop(83%, #3674ba));
  background: linear-gradient(90deg, #818181 83%, #3674ba 83%);
}
.about-form {
  position: relative;
  bottom: 13%;
  text-align: left;
}
.about-form input {
  width: 100%;
  background: #f1f1f1;
  border: 1px solid #d1d1d1;
}
.about-form textarea {
  resize: none;
  width: 100%;
  height: 7.7rem;
  background: #f1f1f1;
  border: 1px solid #d1d1d1;
}
/* button SEND in about  */
#about-btn {
  position: absolute;
  left: 85%;
  bottom: 5px;
  width: 15%;
  height: 40px;
  color: white;
  background: #3674ba;
}
#about-btn:hover {
  background-color: #193657;
}
/* set placeholder padding */
input,
textarea[placeholder] {
  padding-left: .4rem;
}
.footer {
  font-family: 'OpenSans-Light', sans-serif;
  padding-top: 2.5rem;
  text-align: center;
  height: 30%;
}
.footer small {
  width: 100%;
  padding-bottom: 2.5rem;
}
/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  .header-title {
    padding-top: .5rem;
    padding-left: 0;
  }
  .banner-phone {
    display: none;
  }
  .banner-info {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .services-headings-block {
    display: none;
  }
  .services-headings-block button {
    margin-bottom: 2rem;
  }
  .services-slider-block {
    display: block;
  }
  .header-nav {
    padding-left: 15rem;
  }
}
@media screen and (max-width: 576px) {
  .header-title {
    padding-top: .5rem;
    padding-left: 0;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .banner-phone {
    display: none;
  }
  .banner-info {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .services-headings-block {
    display: none;
  }
  .services-headings-block button {
    margin-bottom: 2rem;
  }
  .services-slider-block {
    display: block;
  }
  .about-skills h4 {
    text-align: center;
  }
  .about-form {
    padding-top: 2rem;
  }
  #about-btn {
    width: 100px;
    position: relative;
    left: 120px;
  }
}
